<mat-card>

    <mat-card-title> Mapa </mat-card-title>

    <mat-card-content>
        
        <agm-map (mapClick)="agregarMarcador( $event )" [latitude]="lat" [longitude]="lng" [zoom]="15">

            <agm-marker *ngFor="let marcador of marcadores; let i = index;" [latitude]="marcador.lat" [longitude]="marcador.lng">

                <agm-info-window>
                    <strong style="color:#000"> {{ marcador.titulo }} </strong>
                    <p style="color:#000">
                        {{ marcador.desc }}
                    </p>
                    <div>
                        <button (click)="editarMarcador( marcador )" mat-raised-button color="primary" > Editar </button>
                        <button (click)="borrarMarcador(i)" mat-raised-button color="warn" > Borrar </button>
                    </div>
                </agm-info-window>

            </agm-marker>

        </agm-map>

    </mat-card-content>

    

</mat-card>
