<form [formGroup]="forma">

    <mat-form-field>
      <input matInput placeholder="Título" formControlName="titulo">
    </mat-form-field>
  
    <mat-form-field>
      <textarea rows="3" matInput placeholder="Descripción" formControlName="desc"></textarea>
    </mat-form-field>

    <button (click)="guardarCambios()" mat-raised-button color="primary" > Guardar </button>
    <button (click)="onNoClick()" mat-raised-button color="warn" type="button" > Cancelar </button>

  </form>