/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-container{

    margin-top: 0px;
    padding: 10px;

}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}